body {
  background-color: var(--MAIN_BACKGROUND);
  color: var(--MAIN_DARK);
  font-family: var(--MAIN_FONT);
}

main {
  color: inherit;
  margin: 0 10vw;
  background-color: var(--MAIN_BACKGROUND);
}

button {
  background-color: var(--MAIN_BACKGROUND);
  font-variant: small-caps;
  letter-spacing: 0.0625rem;
  padding: 1rem 3rem;
  border: 2px solid var(--MAIN_DARK);

  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  color: var(--MAIN_BACKGROUND);
  background-color: var(--MAIN_DARK);
}

/* Header */

header {
  margin: 2vw 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  justify-content: space-around;
}

header li {
  padding-left: 1.1rem;
  display: inline-block;
  font-variant: small-caps;
  font-size: 1.2vw;
}

header li:first-child {
  padding-left: 0;
}

.page-in-focus {
  color: var(--MAIN_GREEN);
}

header a:hover {
  color: var(--MAIN_GREEN);
}

header a:active {
  color: var(--DARK_GREEN);
}

/* Hero Section */
.hero-section img {
  width: 100%;
}

/* Hero Section Portfolio */

.hero-section-portfolio img {
  max-width: 78.7vw;
  margin: 2vw 10vw;
}

/* Sobre, Manage, Bookmark, Insure and Fylo Sections */

.project-section {
  margin: 5vw 0 0 0;
  display: flex;
  justify-content: space-between;
}

.project-section img {
  max-height: 80vh;
}

.container-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 30vw;
  border-bottom: 0.0625rem solid var(--SECOND_GRAY);
  border-top: 0.0625rem solid var(--SECOND_GRAY);
  line-height: 2;
}

.container-text h2 {
  color: inherit;
  font-family: var(--SECOND_FONT);
  font-size: 2.5vw;
  font-weight: bold;
}

.container-text p {
  color: inherit;
}

.container-text a {
  margin-top: 2vw;
  align-self: center;
}

/* containers main - portfolios */

/* main container */

.main-container {
  margin: 3vw 10vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Description Aside Project */

aside {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  max-width: 23vw;
  border-bottom: 0.0625rem solid var(--SECOND_GRAY);
  border-top: 0.0625rem solid var(--SECOND_GRAY);
}

aside h1 {
  margin: 2vw 0;
  font-family: var(--SECOND_FONT);
  font-size: 2vw;
}

aside p {
  line-height: 1.9;
  margin-bottom: 2vw;
}

.green-letters {
  font-weight: bold;
  color: var(--MAIN_GREEN);
}

aside button {
  margin-bottom: 2.5vw;
}

/* Main Section */

.main-datails {
  margin: 0;
  max-width: 55%;
}

.main-datails h2 {
  margin: 1vw 0;
  font-family: var(--SECOND_FONT);
  font-size: 1.7vw;
  font-weight: lighter;
}

.main-datails p {
  line-height: 1.9;
}

.main-datails img {
  margin: 1vw 0;
  max-width: 100%;
}

/* Links Section */

.links-section {
  margin: 2vw 10vw;
  color: inherit;
  font-family: var(--MAIN_FONT);
  padding: 25px 0;
  border-bottom: 0.0625rem solid var(--SECOND_GRAY);
  border-top: 0.0625rem solid var(--SECOND_GRAY);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links-projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links-projects:hover {
  opacity: 0.7;
}

.link-text-container {
  margin: 0 10px;
}

.text-align {
  text-align: right;
}

.link-text-container h2 {
  font-size: 2vw;
  font-family: var(--SECOND_FONT);
}

/* Contact Section */

.contact-section {
  margin: 5vw 10vw;
  color: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-section h2 {
  font-family: var(--SECOND_FONT);
  font-weight: bold;
  font-size: 3.2vw;
  max-width: 50%;
}

/* Footer */

footer {
  padding: 1vw 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--MAIN_DARK);
}

.menu-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-footer li {
  color: var(--MAIN_BACKGROUND);
  padding-left: 1.1rem;
  display: inline-block;
  font-variant: small-caps;
  font-size: 1.2vw;
}

.menu-footer li:hover {
  color: var(--SECOND_GRAY);
}

.logos-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logos-footer a {
  padding-left: 15px;
}

.logos-footer a:first-child {
  padding-left: 0;
}

.logos-footer a:hover {
  opacity: 0.8;
}
