:root {
  --MAIN_DARK: #33323d;

  --MAIN_BLUE: #203a4c;
  --SECOND_BLUE: #1d3445;
  --MAIN_GREEN: #5fb4a2;
  --SECOND_GREEN: #56a292;

  --MAIN_GRAY: #eaeaeb;
  --SECOND_GRAY: #dddcde;
  --MAIN_BACKGROUND: #fafafa;

  --MAIN_FONT: "Public Sans", Arial, Helvetica, sans_serif;
  --SECOND_FONT: "Ibarra Real Nova", Times, "Times New Roman", serif;
}
