@import url("../../css/global.css");

/* Page base */

body {
  background-color: var(--MAIN_BACKGROUND);
  color: var(--MAIN_DARK);
  font-family: var(--MAIN_FONT);
}

main {
  margin: 0 10vw;
  background-color: var(--MAIN_BACKGROUND);
}

button {
  transition: background-color 0.3s, color 0.3s;
}

/* Header */

header {
  margin: 2vw 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}

header ul {
  display: flex;
  justify-content: space-around;
}

header li {
  padding-left: 1.1rem;
  display: inline-block;
  font-variant: small-caps;
  font-size: 1.2vw;
}

header li:first-child {
  padding-left: 0;
  color: var(--MAIN_GREEN);
}

header a:hover {
  color: var(--MAIN_GREEN);
}

/* Hero Section */

.hero-section {
  margin: 5vw 10vw;
  background-color: var(--MAIN_BACKGROUND);
  display: flex;
  align-items: flex-end;
  position: relative;
}

.hero-section img {
  /* pc image */
  width: 100%;
}

.presentation-container {
  position: absolute;
  width: 39%;
  height: 59%;
  background-color: var(--MAIN_BACKGROUND);
  display: flex;
  justify-content: center;
  align-items: center;
}

.presentation-container h1 {
  width: 80%;
  height: 80%;
  font-family: var(--SECOND_FONT);
  font-weight: bold;
  font-size: 3.2vw;
}

.button-over-me {
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--MAIN_GRAY);
  background-color: var(--MAIN_BLUE);
  font-variant: small-caps;
  display: flex;
  align-items: center;
}

.button-over-me:hover {
  color: var(--MAIN_GRAY);
  background-color: var(--MAIN_GREEN);
  transition: background-color 0.3s, color 0.3s;
}

.button-over-me:hover .container-button-img {
  background-color: var(--SECOND_GREEN);
  transition: background-color 0.3s, color 0.3s;
}

.button-over-me span {
  margin: 0 1vw;
  font-size: 1.5vw;
  letter-spacing: 1px;
}

.container-button-img {
  background-color: var(--SECOND_BLUE);
  width: 3vw;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-button-img img {
  width: 1.4vw;
}

.button-over-me:hover .container-button-img img {
  content: url("../../assets/icons/down-arrows-white.svg");
  transition: background-color 0.3s, color 0.3s;
}

/* Sobre Section - sem responsividade - tentei e não consegui */

.sobre-section {
  display: flex;
  justify-content: space-between;
}

.sobre-section img {
  max-height: 90vh;
}

.container-about-me {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 35vw;
  border-bottom: 0.0625rem solid var(--SECOND_GRAY);
  border-top: 0.0625rem solid var(--SECOND_GRAY);
}

.container-about-me h2 {
  color: inherit;
  font-family: var(--SECOND_FONT);
  font-size: 2.5vw;
  margin-bottom: 2.5vw;
}

.container-about-me p {
  color: inherit;
  line-height: 1.9;
  margin-bottom: 3rem;
}

.container-about-me a {
  align-self: center;
}

.container-about-me button {
  background-color: var(--MAIN_BACKGROUND);
  font-variant: small-caps;
  letter-spacing: 0.0625rem;
  padding: 1rem 1.4rem;
  border: 2px solid var(--MAIN_DARK);
}

.container-about-me button:hover {
  color: var(--MAIN_BACKGROUND);
  background-color: var(--MAIN_DARK);
}

/* Contact Section */

.contact-section {
  margin: 5vw 10vw;
  color: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-section h2 {
  font-family: var(--SECOND_FONT);
  font-weight: bold;
  font-size: 3.2vw;
  max-width: 50%;
}

.contact-section button {
  background-color: inherit;
  font-variant: small-caps;
  letter-spacing: 0.0625rem;
  padding: 1rem 3rem;
  border: 2px solid var(--MAIN_DARK);
}

.contact-section button:hover {
  background-color: var(--MAIN_DARK);
  color: var(--MAIN_GRAY);
}

/* Footer */

footer {
  padding: 1vw 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--MAIN_DARK);
}

.menu-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-footer li {
  color: var(--MAIN_BACKGROUND);
  padding-left: 1.1rem;
  display: inline-block;
  font-variant: small-caps;
  font-size: 1.2vw;
}

.menu-footer li:hover {
  color: var(--SECOND_GRAY);
}

.logos-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logos-footer a {
  padding-left: 15px;
}

.logos-footer a:first-child {
  padding-left: 0;
}

.logos-footer a:hover {
  opacity: 0.8;
}
